<nav class="navbar-dark bg-dark">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Saved Articles</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/savedArticles">Saved Articles</a></li>
        </ul>
    </div>
    </nav>
    <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>Saved Articles</h1>
            <p>Your Saved Articles</p>
        </div>
    </div>
    <div class="container-fluid article-container">
    </div>

    <footer class="footer">
        <div class="container">
            <p>New York Times Mongo Scraper</p>
        </div>
    </footer>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="./saved.js"></script>

{{!-- <class="jumbotron">
    <h1> Saved Articles </h1>
    </class>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{savedArticles.title}}</h5>
                        <p class="card-text">{{savedArticles.text}}</p>
                        <a href="#" id="save-button" data-id={{savedArticles._id}} class="btn btn-primary">Save Article</a>
                        <a href="/articles/{{savedArticles._id}}" id="open-modal"  class="btn btn-primary">Leave a comment</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{{!-- show all saved Articles with their notes if they have any --}}